In [1]:
import pandas as pd 
import numpy as np
from IPython.display import display, HTML

# Introduction to dataset

- Datasets are in separeted into 2 csv files: for years 2013-2020 and 2021.

#### Categories took into consideration:
- There are multiple catogories describing population. For purpose of analysis the total number of inhabitants will be considered for all years.

- I saved both file into xlsx and then read them in Notebook.

In [2]:
df = pd.read_excel('../Notebook/source/BZR_2013_2020.xlsx')

In [3]:
df.head()

,RaumID,BZR,Jahr,Einwohnerinnen und Einwohner (EW) insgesamt,Anteil der Einwohnerinnen und Einwohner (EW) mit Wohndauer über 5 Jahren an derselben Adresse,Wanderungssaldo gesamt je 100 Einwohnerinnen und Einwohner (EW),Wanderungsvolumen je 100 Einwohnerinnen und Einwohner (EW),Anteil der unter 18-Jährigen an Einwohnerinnen und Einwohner (EW) gesamt,Anteil der 65-Jährigen und älter an Einwohnerinnen und Einwohner (EW) gesamt,Jugendquotient,Altenquotient,Durchschnittsalter,Greying-Index,Anteil der Personen mit Migrationshintergrund (MH) an den Einwohnerinnen und Einwohner (EW) gesamt,Anteil der ausländischen Personen an den Einwohnerinnen und Einwohner (EW) gesamt,Anteil der ausländischen Personen mit europäischer Staatsangehörigkeit an den Einwohnerinnen und Einwohner (EW) gesamt,Anteil der ausländischen Personen mit Staatsangehörigkeiten aus Drittstaaten an den Einwohnerinnen und Einwohner (EW) gesamt,Geschlechterverteilung,zusammengefasste Geburtenziffer (TFR),Anteil Arbeitslose nach SGB II und SGB III an Einwohnerinnen und Einwohner (EW) im Alter von 15 bis unter 65 Jahren
0,10111,Tiergarten Süd,2013,13395.0,50.5,3.6,39.9,13.3,13.9,21.7,19.6,40.3,9.7,57.1,34.2,20.6,13.3,85.0,1.2,7.1
1,10112,Regierungsviertel,2013,9422.0,59.3,1.6,29.0,9.9,21.1,16.9,31.3,45.7,7.5,40.8,25.6,17.2,8.3,98.0,0.9,4.4
2,10113,Alexanderplatz,2013,48739.0,57.8,1.6,32.8,11.7,18.7,18.5,27.3,43.1,10.9,32.2,20.5,12.9,7.6,98.0,1.1,5.8
3,10114,Brunnenstraße Süd,2013,27134.0,46.1,2.5,40.0,15.6,5.7,21.2,7.3,35.5,13.5,32.7,23.0,16.6,6.5,97.0,1.1,4.3
4,10221,Moabit West,2013,43546.0,53.6,2.9,36.3,14.0,11.3,21.7,15.6,38.7,9.6,45.5,27.7,19.7,8.0,93.0,1.2,9.5

In [4]:
df.columns

Index(['RaumID', 'BZR', 'Jahr', 'Einwohnerinnen und Einwohner (EW) insgesamt',
       'Anteil der Einwohnerinnen und Einwohner (EW) mit Wohndauer über 5 Jahren an derselben Adresse',
       'Wanderungssaldo gesamt je 100 Einwohnerinnen und Einwohner (EW)',
       'Wanderungsvolumen je 100 Einwohnerinnen und Einwohner (EW)',
       'Anteil der unter 18-Jährigen an Einwohnerinnen und Einwohner (EW) gesamt',
       'Anteil der 65-Jährigen und älter an Einwohnerinnen und Einwohner (EW) gesamt',
       'Jugendquotient', 'Altenquotient', 'Durchschnittsalter',
       'Greying-Index',
       'Anteil der Personen mit Migrationshintergrund (MH) an den Einwohnerinnen und Einwohner (EW) gesamt',
       'Anteil der ausländischen Personen an den Einwohnerinnen und Einwohner (EW) gesamt',
       'Anteil der ausländischen Personen mit europäischer Staatsangehörigkeit an den Einwohnerinnen und Einwohner (EW) gesamt',
       'Anteil der ausländischen Personen mit Staatsangehörigkeiten aus Drittstaaten an den Einwohnerinnen und Einwohner (EW) gesamt',
       'Geschlechterverteilung', 'zusammengefasste Geburtenziffer (TFR)',
       'Anteil Arbeitslose nach SGB II und SGB III an Einwohnerinnen und Einwohner (EW) im Alter von 15 bis unter 65 Jahren'],
      dtype='object')

In [5]:
df = df[["RaumID", "BZR", "Jahr", "Einwohnerinnen und Einwohner (EW) insgesamt"]]

In [6]:
df.head()

,RaumID,BZR,Jahr,Einwohnerinnen und Einwohner (EW) insgesamt
0,10111,Tiergarten Süd,2013,13395.0
1,10112,Regierungsviertel,2013,9422.0
2,10113,Alexanderplatz,2013,48739.0
3,10114,Brunnenstraße Süd,2013,27134.0
4,10221,Moabit West,2013,43546.0

In [7]:
df = df.rename(columns={'RaumID':'lor',
                            'BZR':'subdistrict', 
                            'Jahr':'year',
                       'Einwohnerinnen und Einwohner (EW) insgesamt':'pop'})
# pop means population

In [8]:
df.head()

     lor         subdistrict  year      pop
0  10111      Tiergarten Süd  2013  13395.0
1  10112   Regierungsviertel  2013   9422.0
2  10113      Alexanderplatz  2013  48739.0
3  10114  Brunnenstraße Süd   2013  27134.0
4  10221         Moabit West  2013  43546.0

In [9]:
p_2013 = df[df['year'] == 2013]

In [10]:
# dataframe with population for 2013
p_2013

        lor                             subdistrict  year      pop
0     10111                          Tiergarten Süd  2013  13395.0
1     10112                       Regierungsviertel  2013   9422.0
2     10113                          Alexanderplatz  2013  48739.0
3     10114                      Brunnenstraße Süd   2013  27134.0
4     10221                             Moabit West  2013  43546.0
..      ...                                     ...   ...      ...
133  122311              Nord 1 - Frohnau/Hermsdorf  2013  32908.0
134  123012  Nord 2 - Waidmannslust/Wittenau/Lübars  2013  30080.0
135  123021               MV 1 - Märkisches Viertel  2013  37138.0
136  123022                MV 2 - Rollbergesiedlung  2013   8594.0
137  123043      West 3 - Borsigwalde/Freie Scholle  2013  16055.0

[138 rows x 4 columns]

In [11]:
p_2013.isna().sum().sum()

0

#### Area of subdistricts

In [12]:
# Getting area of subdistricts to calculate the density
# Before small changes in format in Excel. 
# The original file names broker.xls was renamed to lor_flaeche.xlsx

lor = pd.read_excel('../Notebook/source/lor_flaeche.xlsx')

In [13]:
lor.head()

     lor        subdistrict    area in qm  area
0  11001     Tiergarten Süd  5.172481e+06   517
1  11002  Regierungsviertel  2.695511e+06   270
2  11003     Alexanderplatz  6.228825e+06   623
3  11004  Brunnenstraße Süd  1.755196e+06   176
4  12005        Moabit West  4.305047e+06   431

In [14]:
lor = lor.drop(["area in qm"], axis=1)

In [15]:
lor.head()

     lor        subdistrict  area
0  11001     Tiergarten Süd   517
1  11002  Regierungsviertel   270
2  11003     Alexanderplatz   623
3  11004  Brunnenstraße Süd   176
4  12005        Moabit West   431

In [16]:
lor.shape

(143, 3)

In [17]:
lor.to_excel('lor.xlsx', index=False)

#### Population

In [18]:
p_2014 = df[df['year'] == 2014].reset_index(drop=True)

In [19]:
p_2014

        lor                             subdistrict  year      pop
0     10111                          Tiergarten Süd  2014  13938.0
1     10112                       Regierungsviertel  2014   9909.0
2     10113                          Alexanderplatz  2014  50457.0
3     10114                      Brunnenstraße Süd   2014  27901.0
4     10221                             Moabit West  2014  44540.0
..      ...                                     ...   ...      ...
133  122311              Nord 1 - Frohnau/Hermsdorf  2014  32973.0
134  123012  Nord 2 - Waidmannslust/Wittenau/Lübars  2014  30437.0
135  123021               MV 1 - Märkisches Viertel  2014  37671.0
136  123022                MV 2 - Rollbergesiedlung  2014   8752.0
137  123043      West 3 - Borsigwalde/Freie Scholle  2014  16131.0

[138 rows x 4 columns]

In [20]:
p_2015 = df[df['year'] == 2015].reset_index(drop=True)
p_2016 = df[df['year'] == 2016].reset_index(drop=True)
p_2017 = df[df['year'] == 2017].reset_index(drop=True)
p_2018 = df[df['year'] == 2018].reset_index(drop=True)
p_2019 = df[df['year'] == 2019].reset_index(drop=True)
p_2020 = df[df['year'] == 2020].reset_index(drop=True)

In [21]:
p_2014 = p_2014.rename(columns={"pop":"pop_2014"})
p_2015 = p_2015.rename(columns={"pop":"pop_2015"})
p_2016 = p_2016.rename(columns={"pop":"pop_2016"})
p_2017 = p_2017.rename(columns={"pop":"pop_2017"})
p_2018 = p_2018.rename(columns={"pop":"pop_2018"})
p_2019 = p_2019.rename(columns={"pop":"pop_2019"})
p_2020 = p_2020.rename(columns={"pop":"pop_2020"})

In [22]:
p_2013 = p_2013.rename(columns={"pop":"pop_2013"})
p_2013 = p_2013.drop(["year"], axis=1)
p_2013

        lor                             subdistrict  pop_2013
0     10111                          Tiergarten Süd   13395.0
1     10112                       Regierungsviertel    9422.0
2     10113                          Alexanderplatz   48739.0
3     10114                      Brunnenstraße Süd    27134.0
4     10221                             Moabit West   43546.0
..      ...                                     ...       ...
133  122311              Nord 1 - Frohnau/Hermsdorf   32908.0
134  123012  Nord 2 - Waidmannslust/Wittenau/Lübars   30080.0
135  123021               MV 1 - Märkisches Viertel   37138.0
136  123022                MV 2 - Rollbergesiedlung    8594.0
137  123043      West 3 - Borsigwalde/Freie Scholle   16055.0

[138 rows x 3 columns]

In [23]:
population = pd.concat([p_2013, p_2014["pop_2014"], p_2015["pop_2015"], p_2016["pop_2016"], p_2017["pop_2017"],\
                 p_2018["pop_2018"], p_2019["pop_2019"], p_2020["pop_2020"]], axis=1)
population

,lor,subdistrict,pop_2013,pop_2014,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020
0,10111,Tiergarten Süd,13395.0,13938.0,14451.0,14663.0,14594.0,14798.0,14985.0,15057.0
1,10112,Regierungsviertel,9422.0,9909.0,10302.0,11265.0,11872.0,12431.0,12742.0,12688.0
2,10113,Alexanderplatz,48739.0,50457.0,51961.0,54256.0,56183.0,57101.0,57883.0,58436.0
3,10114,Brunnenstraße Süd,27134.0,27901.0,28765.0,29672.0,30871.0,31593.0,31840.0,31214.0
4,10221,Moabit West,43546.0,44540.0,44897.0,45629.0,46039.0,46359.0,46275.0,45695.0
...,...,...,...,...,...,...,...,...,...,...
133,122311,Nord 1 - Frohnau/Hermsdorf,32908.0,32973.0,33021.0,33418.0,33477.0,33471.0,33421.0,33415.0
134,123012,Nord 2 - Waidmannslust/Wittenau/Lübars,30080.0,30437.0,31098.0,31875.0,31393.0,31503.0,31579.0,31761.0
135,123021,MV 1 - Märkisches Viertel,37138.0,37671.0,38128.0,39706.0,39754.0,39914.0,40379.0,40119.0
136,123022,MV 2 - Rollbergesiedlung,8594.0,8752.0,8941.0,9230.0,9290.0,9303.0,9274.0,9232.0
137,123043,West 3 - Borsigwalde/Freie Scholle,16055.0,16131.0,16174.0,16279.0,16442.0,16473.0,16502.0,16415.0

In [24]:
# Population 2021

p_2021 = pd.read_excel('../Notebook/source/BZR_2021.xlsx')
p_2021

,RaumID,BZR,Jahr,Einwohnerinnen und Einwohner (EW) insgesamt,Anteil der Einwohnerinnen und Einwohner (EW) mit Wohndauer über 5 Jahren an derselben Adresse,Wanderungssaldo gesamt je 100 Einwohnerinnen und Einwohner (EW),Wanderungsvolumen je 100 Einwohnerinnen und Einwohner (EW),Anteil der unter 18-Jährigen an Einwohnerinnen und Einwohner (EW) gesamt,Anteil der 65-Jährigen und älter an Einwohnerinnen und Einwohner (EW) gesamt,Jugendquotient,Altenquotient,Durchschnittsalter,Greying-Index,Anteil der Personen mit Migrationshintergrund (MH) an den Einwohnerinnen und Einwohner (EW) gesamt,Anteil der ausländischen Personen an den Einwohnerinnen und Einwohner (EW) gesamt,Anteil der ausländischen Personen mit europäischer Staatsangehörigkeit an den Einwohnerinnen und Einwohner (EW) gesamt,Anteil der ausländischen Personen mit Staatsangehörigkeiten aus Drittstaaten an den Einwohnerinnen und Einwohner (EW) gesamt,Geschlechterverteilung,zusammengefasste Geburtenziffer (TFR),Anteil Arbeitslose nach SGB II und SGB III an Einwohnerinnen und Einwohner (EW) im Alter von 15 bis unter 65 Jahren
0,11001,Tiergarten Süd,2021,15249,54.7,1.6,32.5,13.2,15.3,21.5,21.9,41.0,13.4,62.8,40.0,22.2,17.8,86,0.99,4.4
1,11002,Regierungsviertel,2021,13071,54.9,3.2,38.1,12.5,17.7,19.9,25.7,42.7,13.6,55.8,37.9,21.8,16.1,94,1.08,2.2
2,11003,Alexanderplatz,2021,59594,58.3,1.8,33.6,13.4,15.4,21.0,22.1,41.4,20.8,46.7,31.7,16.6,15.1,96,1.10,2.9
3,11004,Brunnenstraße Süd,2021,31516,55.9,0.0,32.4,17.3,6.0,24.4,7.9,36.6,10.6,43.6,29.7,18.0,11.7,99,1.17,1.7
4,12005,Moabit West,2021,45674,60.5,-0.1,30.1,13.7,12.9,21.3,18.0,39.6,9.8,51.0,32.7,20.3,12.5,90,1.13,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,2021,16372,70.4,0.1,17.2,12.9,25.5,23.5,42.4,47.2,15.7,21.9,12.5,7.8,4.7,108,1.44,3.6
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,2021,32080,67.8,1.9,62.8,14.7,26.4,28.9,46.2,47.0,16.2,27.9,15.5,9.0,6.5,100,1.41,3.2
140,126010,Rollbergesiedlung,2021,9153,73.2,-0.1,17.3,20.7,22.7,42.1,41.8,43.1,14.9,44.3,25.9,14.2,11.7,101,1.54,8.1
141,126011,MV Nord,2021,26728,73.8,0.1,13.7,23.3,20.8,47.9,38.9,41.1,16.3,49.8,25.1,15.7,9.4,107,1.94,9.3
142,126012,MV Süd,2021,13719,74.8,-0.1,13.6,23.2,19.1,47.2,34.9,40.5,12.7,55.3,28.1,18.5,9.6,104,1.49,7.9

In [25]:
p_2021 = p_2021[["RaumID", "BZR", "Jahr", "Einwohnerinnen und Einwohner (EW) insgesamt"]]
p_2021 = p_2021.rename(columns={'RaumID':'lor',
                            'BZR':'subdistrict', 
                            'Jahr':'year',
                       'Einwohnerinnen und Einwohner (EW) insgesamt':'pop_2021'})

In [26]:
p_2021

        lor                             subdistrict  year  pop_2021
0     11001                          Tiergarten Süd  2021     15249
1     11002                       Regierungsviertel  2021     13071
2     11003                          Alexanderplatz  2021     59594
3     11004                       Brunnenstraße Süd  2021     31516
4     12005                             Moabit West  2021     45674
..      ...                                     ...   ...       ...
138  125008      West 3 - Borsigwalde/Freie Scholle  2021     16372
139  125009  Nord 2 - Waidmannslust/Wittenau/Lübars  2021     32080
140  126010                       Rollbergesiedlung  2021      9153
141  126011                                 MV Nord  2021     26728
142  126012                                  MV Süd  2021     13719

[143 rows x 4 columns]

In [27]:
population = pd.concat([p_2021, population["pop_2013"], population["pop_2014"], population["pop_2015"], population["pop_2016"], \
                  population["pop_2017"], population["pop_2018"], population["pop_2019"], population["pop_2020"]], axis=1)
population

,lor,subdistrict,year,pop_2021,pop_2013,pop_2014,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020
0,11001,Tiergarten Süd,2021,15249,13395.0,13938.0,14451.0,14663.0,14594.0,14798.0,14985.0,15057.0
1,11002,Regierungsviertel,2021,13071,9422.0,9909.0,10302.0,11265.0,11872.0,12431.0,12742.0,12688.0
2,11003,Alexanderplatz,2021,59594,48739.0,50457.0,51961.0,54256.0,56183.0,57101.0,57883.0,58436.0
3,11004,Brunnenstraße Süd,2021,31516,27134.0,27901.0,28765.0,29672.0,30871.0,31593.0,31840.0,31214.0
4,12005,Moabit West,2021,45674,43546.0,44540.0,44897.0,45629.0,46039.0,46359.0,46275.0,45695.0
...,...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,2021,16372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,2021,32080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,126010,Rollbergesiedlung,2021,9153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,126011,MV Nord,2021,26728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,126012,MV Süd,2021,13719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
population = population.drop(["year"], axis=1)

In [29]:
population = population[["lor", "subdistrict", "pop_2013", "pop_2014", "pop_2015", "pop_2016", "pop_2017", "pop_2018",\
                        "pop_2019", "pop_2020", "pop_2021"]]
population

,lor,subdistrict,pop_2013,pop_2014,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021
0,11001,Tiergarten Süd,13395.0,13938.0,14451.0,14663.0,14594.0,14798.0,14985.0,15057.0,15249
1,11002,Regierungsviertel,9422.0,9909.0,10302.0,11265.0,11872.0,12431.0,12742.0,12688.0,13071
2,11003,Alexanderplatz,48739.0,50457.0,51961.0,54256.0,56183.0,57101.0,57883.0,58436.0,59594
3,11004,Brunnenstraße Süd,27134.0,27901.0,28765.0,29672.0,30871.0,31593.0,31840.0,31214.0,31516
4,12005,Moabit West,43546.0,44540.0,44897.0,45629.0,46039.0,46359.0,46275.0,45695.0,45674
...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16372
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32080
140,126010,Rollbergesiedlung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9153
141,126011,MV Nord,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26728
142,126012,MV Süd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13719

In [30]:
population.to_excel('population.xlsx', index=False)

#### Density

In [31]:
density = pd.concat([lor, population["pop_2013"], population["pop_2014"], population["pop_2015"], population["pop_2016"],\
                     population["pop_2017"], population["pop_2018"], population["pop_2019"], population["pop_2020"],\
                     population["pop_2021"]], axis=1)

In [32]:
density

,lor,subdistrict,area,pop_2013,pop_2014,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021
0,11001,Tiergarten Süd,517,13395.0,13938.0,14451.0,14663.0,14594.0,14798.0,14985.0,15057.0,15249
1,11002,Regierungsviertel,270,9422.0,9909.0,10302.0,11265.0,11872.0,12431.0,12742.0,12688.0,13071
2,11003,Alexanderplatz,623,48739.0,50457.0,51961.0,54256.0,56183.0,57101.0,57883.0,58436.0,59594
3,11004,Brunnenstraße Süd,176,27134.0,27901.0,28765.0,29672.0,30871.0,31593.0,31840.0,31214.0,31516
4,12005,Moabit West,431,43546.0,44540.0,44897.0,45629.0,46039.0,46359.0,46275.0,45695.0,45674
...,...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16372
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,1180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32080
140,126010,Rollbergesiedlung,164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9153
141,126011,MV Nord,205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26728
142,126012,MV Süd,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13719

In [33]:
# den_2013 means density in 2013 
# density = population/area [in ha]

In [34]:
density["den_2013"] = (density["pop_2013"]/density["area"]).round(2)
density["den_2014"] = (density["pop_2014"]/density["area"]).round(2)
density["den_2015"] = (density["pop_2015"]/density["area"]).round(2)
density["den_2016"] = (density["pop_2016"]/density["area"]).round(2)
density["den_2017"] = (density["pop_2017"]/density["area"]).round(2)
density["den_2018"] = (density["pop_2018"]/density["area"]).round(2)
density["den_2019"] = (density["pop_2019"]/density["area"]).round(2)
density["den_2020"] = (density["pop_2020"]/density["area"]).round(2)
density["den_2021"] = (density["pop_2021"]/density["area"]).round(2)

In [35]:
density

,lor,subdistrict,area,pop_2013,pop_2014,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,...,pop_2021,den_2013,den_2014,den_2015,den_2016,den_2017,den_2018,den_2019,den_2020,den_2021
0,11001,Tiergarten Süd,517,13395.0,13938.0,14451.0,14663.0,14594.0,14798.0,14985.0,...,15249,25.91,26.96,27.95,28.36,28.23,28.62,28.98,29.12,29.50
1,11002,Regierungsviertel,270,9422.0,9909.0,10302.0,11265.0,11872.0,12431.0,12742.0,...,13071,34.90,36.70,38.16,41.72,43.97,46.04,47.19,46.99,48.41
2,11003,Alexanderplatz,623,48739.0,50457.0,51961.0,54256.0,56183.0,57101.0,57883.0,...,59594,78.23,80.99,83.40,87.09,90.18,91.65,92.91,93.80,95.66
3,11004,Brunnenstraße Süd,176,27134.0,27901.0,28765.0,29672.0,30871.0,31593.0,31840.0,...,31516,154.17,158.53,163.44,168.59,175.40,179.51,180.91,177.35,179.07
4,12005,Moabit West,431,43546.0,44540.0,44897.0,45629.0,46039.0,46359.0,46275.0,...,45674,101.03,103.34,104.17,105.87,106.82,107.56,107.37,106.02,105.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.13
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,1180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.19
140,126010,Rollbergesiedlung,164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.81
141,126011,MV Nord,205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.38
142,126012,MV Süd,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.72

In [36]:
density = density.drop(["pop_2013", "pop_2014", "pop_2015", "pop_2016", "pop_2017", "pop_2018", "pop_2019", "pop_2020", "pop_2021"], axis=1)

In [37]:
density = density.drop(["area"], axis=1)

In [38]:
density

,lor,subdistrict,den_2013,den_2014,den_2015,den_2016,den_2017,den_2018,den_2019,den_2020,den_2021
0,11001,Tiergarten Süd,25.91,26.96,27.95,28.36,28.23,28.62,28.98,29.12,29.50
1,11002,Regierungsviertel,34.90,36.70,38.16,41.72,43.97,46.04,47.19,46.99,48.41
2,11003,Alexanderplatz,78.23,80.99,83.40,87.09,90.18,91.65,92.91,93.80,95.66
3,11004,Brunnenstraße Süd,154.17,158.53,163.44,168.59,175.40,179.51,180.91,177.35,179.07
4,12005,Moabit West,101.03,103.34,104.17,105.87,106.82,107.56,107.37,106.02,105.97
...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.13
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.19
140,126010,Rollbergesiedlung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.81
141,126011,MV Nord,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.38
142,126012,MV Süd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.72

In [39]:
density.to_excel('density.xlsx', index=False)

#### Looking for interesting subdistricts:
- maximum growth
- decrease
- pretty similiar the whole time

In [40]:
density["den_delta"] = density["den_2021"] - density["den_2013"]

In [41]:
density.head()

,lor,subdistrict,den_2013,den_2014,den_2015,den_2016,den_2017,den_2018,den_2019,den_2020,den_2021,den_delta
0,11001,Tiergarten Süd,25.91,26.96,27.95,28.36,28.23,28.62,28.98,29.12,29.50,3.59
1,11002,Regierungsviertel,34.90,36.70,38.16,41.72,43.97,46.04,47.19,46.99,48.41,13.51
2,11003,Alexanderplatz,78.23,80.99,83.40,87.09,90.18,91.65,92.91,93.80,95.66,17.43
3,11004,Brunnenstraße Süd,154.17,158.53,163.44,168.59,175.40,179.51,180.91,177.35,179.07,24.90
4,12005,Moabit West,101.03,103.34,104.17,105.87,106.82,107.56,107.37,106.02,105.97,4.94

In [42]:
# Row with minimum den_delta
min_index = density["den_delta"].idxmin()
min_row = density.iloc[min_index]
min_row

lor                    122005
subdistrict    West 5 - Tegel
den_2013               155.39
den_2014               157.62
den_2015               159.53
den_2016               166.13
den_2017               166.33
den_2018                167.0
den_2019               168.95
den_2020               167.86
den_2021                45.91
den_delta             -109.48
Name: 135, dtype: object

In [43]:
# Row with maximum den_delta
max_index = density["den_delta"].idxmax()
max_row = density.iloc[max_index]
max_row

lor                   81003
subdistrict    Reuterstraße
den_2013             105.43
den_2014             107.45
den_2015             108.97
den_2016             109.13
den_2017             109.55
den_2018             109.87
den_2019             108.83
den_2020              107.6
den_2021             271.08
den_delta            165.65
Name: 79, dtype: object

In [44]:
type(max_row)

pandas.core.series.Series

In [45]:
# Row with no changes within time
no_changes = density[density["den_delta"] == 0]
no_changes = pd.DataFrame(no_changes)

In [46]:
no_changes = no_changes.reset_index(drop=True)

In [47]:
no_changes

,lor,subdistrict,den_2013,den_2014,den_2015,den_2016,den_2017,den_2018,den_2019,den_2020,den_2021,den_delta
0,42002,Heerstraße,5.37,5.33,5.37,5.47,5.52,5.56,5.59,5.52,5.37,0.0

#### Density for chosen subdistricts

In [48]:
density_3cases = pd.DataFrame({"lor":(max_row[0],max_row[0], max_row[0], max_row[0],max_row[0],max_row[0],max_row[0],max_row[0],max_row[0]),
                               "subdistrict":(max_row[1],max_row[1],max_row[1],max_row[1],max_row[1],max_row[1],max_row[1],max_row[1],max_row[1]),
                               "year":[2013,2014,2015,2016,2017,2018,2019,2020,2021],
                               "density":(max_row[2],max_row[3],max_row[4],max_row[5],max_row[6],max_row[7],max_row[8],max_row[9],max_row[10]) })

C:\Users\etak6\AppData\Local\Temp\ipykernel_18696\1506758621.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  density_3cases = pd.DataFrame({"lor":(max_row[0],max_row[0], max_row[0], max_row[0],max_row[0],max_row[0],max_row[0],max_row[0],max_row[0]),
C:\Users\etak6\AppData\Local\Temp\ipykernel_18696\1506758621.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  "subdistrict":(max_row[1],max_row[1],max_row[1],max_row[1],max_row[1],max_row[1],max_row[1],max_row[1],max_row[1]),
C:\Users\etak6\AppData\Local\Temp\ipykernel_18696\1506758621.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  "density":(max_row[2],max_row[3],max_row[4],max_row[5],max_row[6],max_row[7],max_row[8],max_row[9],max_row[10]) })

In [49]:
min = pd.DataFrame({"lor":(min_row[0],min_row[0], min_row[0], min_row[0],min_row[0],min_row[0],min_row[0],min_row[0],min_row[0]),
                               "subdistrict":(min_row[1],min_row[1],min_row[1],min_row[1],min_row[1],min_row[1],min_row[1],min_row[1],min_row[1]),
                               "year":[2013,2014,2015,2016,2017,2018,2019,2020,2021],
                               "density":(min_row[2],min_row[3],min_row[4],min_row[5],min_row[6],min_row[7],min_row[8],min_row[9],min_row[10]) })

C:\Users\etak6\AppData\Local\Temp\ipykernel_18696\2978691568.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  min = pd.DataFrame({"lor":(min_row[0],min_row[0], min_row[0], min_row[0],min_row[0],min_row[0],min_row[0],min_row[0],min_row[0]),
C:\Users\etak6\AppData\Local\Temp\ipykernel_18696\2978691568.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  "subdistrict":(min_row[1],min_row[1],min_row[1],min_row[1],min_row[1],min_row[1],min_row[1],min_row[1],min_row[1]),
C:\Users\etak6\AppData\Local\Temp\ipykernel_18696\2978691568.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  "density":(min_row[2],min_row[3],min_row[4],min_row[5],min_row[6],min_row[7],min_row[8],min_row[9],min_row[10]) })

In [50]:
no_change = pd.DataFrame({"lor":(42002,42002,42002,42002,42002,42002,42002,42002,42002),
                               "subdistrict":("Heerstraße","Heerstraße","Heerstraße","Heerstraße","Heerstraße","Heerstraße","Heerstraße","Heerstraße","Heerstraße"),
                               "year":[2013,2014,2015,2016,2017,2018,2019,2020,2021],
                               "density":(0.54,0.53,0.54,0.55,0.55,0.56,0.56,0.55,0.54) })

In [51]:
density_3cases = pd.concat([density_3cases, min, no_change], axis=0).reset_index(drop=True)
density_3cases

       lor     subdistrict  year  density
0    81003    Reuterstraße  2013   105.43
1    81003    Reuterstraße  2014   107.45
2    81003    Reuterstraße  2015   108.97
3    81003    Reuterstraße  2016   109.13
4    81003    Reuterstraße  2017   109.55
5    81003    Reuterstraße  2018   109.87
6    81003    Reuterstraße  2019   108.83
7    81003    Reuterstraße  2020   107.60
8    81003    Reuterstraße  2021   271.08
9   122005  West 5 - Tegel  2013   155.39
10  122005  West 5 - Tegel  2014   157.62
11  122005  West 5 - Tegel  2015   159.53
12  122005  West 5 - Tegel  2016   166.13
13  122005  West 5 - Tegel  2017   166.33
14  122005  West 5 - Tegel  2018   167.00
15  122005  West 5 - Tegel  2019   168.95
16  122005  West 5 - Tegel  2020   167.86
17  122005  West 5 - Tegel  2021    45.91
18   42002      Heerstraße  2013     0.54
19   42002      Heerstraße  2014     0.53
20   42002      Heerstraße  2015     0.54
21   42002      Heerstraße  2016     0.55
22   42002      Heerstraße  2017     0.55
23   42002      Heerstraße  2018     0.56
24   42002      Heerstraße  2019     0.56
25   42002      Heerstraße  2020     0.55
26   42002      Heerstraße  2021     0.54

In [52]:
density_3cases.to_excel('density_3cases.xlsx', index=False)